<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="logo" href="./">
        <svg class="logo__icon">
          <use href="./images/icon-sprite.svg#icon-logo"></use>
        </svg>
        <span class="logo__text">Filmoteka</span>
      </a>

      <ul class="nav_list">
        <li class="nav__item">
          <a class="nav__link nav__link--active" href="#">Home</a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="#">My library</a>
        </li>
      </ul>
    </nav>

    <form class="form">
      <div class="wrapper__input">
        <input
          class="form__input"
          type="text"
          name="search"
          autocomplete="off"
          placeholder=" "
          required
        />

        <button class="form__btn" type="submit">
          <svg class="form__icon">
            <use href="./images/icon-sprite.svg#icon-search"></use>
          </svg>
        </button>

        <label class="form__label" for="search">Movie search...</label>
      </div>
    </form>

    <span class="notification off">
      Search result not successful. Enter the correct movie name
    </span>
  </div>
</header>
