.film {
  @include m {
    display: flex;
    justify-content: center;
    gap: 68px;
  }

  @include l {
    gap: 16px;
  }
}

.film__box {
  margin-bottom: 20px;

  border-radius: 5px;
  overflow: hidden;

  @include m {
    margin-bottom: 0;
    max-width: 264px;
    max-height: 374px;
  }
}

.film__wrapper,
.film__box {
  @include m {
    flex-basis: 50%;
  }
}

.film__img {
  object-fit: cover;
}

.film__name {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
}

.film__stats {
  margin-bottom: 20px;
}

.film__stat {
  margin-bottom: 8px;

  display: flex;
  justify-content: space-between;

  text-align: left;

  & span {
    flex-basis: 50%;
  }
}

.stat__name {
  font-weight: 500;
  font-size: 12px;
  color: getColor(subtitle);
}

.stat__value {
  font-weight: 500;
  font-size: 12px;
  color: getColor(primary);

  &--active {
    padding: 1px 10px;
    color: getColor(active-white);
    background-color: getColor(accent);
    border-radius: 5px;
  }

  &--noactive {
    padding: 1px 10px;
    color: getColor(primary);
    background-color: getColor(bg);
    border-radius: 5px;
  }
}

.film__about {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: getColor(primary);
}

.film__description {
  margin-bottom: 20px;
  line-height: 1.67;
}

.btn__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.btn {
  padding: 6px 27px;
  height: 44px;

  font-weight: 500;
  text-transform: uppercase;
  color: getColor(primary);

  background-color: transparent;
  border: 1px solid getColor(primary);
  border-radius: 5px;

  cursor: pointer;

  &--active {
    color: getColor(active-white);
    background-color: getColor(accent);
    border: none;
  }
}
